.Modal-root {
  @apply fixed inset-0 z-50 flex items-center justify-center overflow-hidden;
  --modal-content-width: 400px;
  --modal-content-height: auto;
}

.Modal-backdrop {
  @apply absolute inset-0 bg-black bg-opacity-0 transition-all;
}

.Modal-opened>.Modal-backdrop {
  @apply bg-opacity-50;
}

.Modal-content {
  @apply relative bg-white rounded-lg shadow-lg text-black transition-all duration-300 max-h-dvh;
  width: var(--modal-content-width);
  height: var(--modal-content-height);
}

.Modal-buzzable {
  @apply animate-buzz;
}

.Modal-slide {
  @apply opacity-0 -translate-y-8;
}

.Modal-opened>.Modal-slide {
  @apply opacity-100 transform translate-y-0;
}

.Modal-fade {
  @apply opacity-0;
}

.Modal-opened>.Modal-fade {
  @apply opacity-100;
}

.Modal-zoom {
  @apply opacity-0 scale-50;
}

.Modal-opened>.Modal-zoom {
  @apply opacity-100 scale-100;
}

.Modal-header {
  @apply border-b border-gray-200;
}

.Modal-title {
  @apply text-lg font-medium p-4 leading-7 tracking-wide;
}

.Modal-close {
  @apply absolute flex items-center justify-center w-7 h-7 top-4 right-2;
}

.Modal-body {
  @apply p-4;
}

.Modal-footer {
  @apply border-t border-gray-200 p-4
}
