.s3react-TextInput-root {
  --text-input-size: 40px;
  @apply w-full;
}

.TextInput-3xs {
  --text-input-size: 24px;
}

.TextInput-2xs {
  --text-input-size: 28px;
}

.TextInput-xs {
  --text-input-size: 32px;
}

.TextInput-sm {
  --text-input-size: 36px;
}

.s3react-TextInput-base {
  --text-input-size: 40px;
}

.TextInput-md {
  --text-input-size: 44px;
}

.TextInput-lg {
  --text-input-size: 48px;
}

.TextInput-xl {
  --text-input-size: 52px;
}

.TextInput-2xl {
  --text-input-size: 56px;
}

.TextInput-3xl {
  --text-input-size: 60px;
}

.TextInput-wrapper {
  @apply flex w-full rounded-md overflow-hidden bg-white border border-blue-300 transition-all;
  height: var(--text-input-size);
  min-height: var(--text-input-size);
}

.TextInput-input {
  @apply w-full outline-none px-2 text-sm bg-transparent text-black;
  height: var(--text-input-size);
  min-height: var(--text-input-size);
}

.TextInput-helperText {
  @apply block text-xs;
}

.TextInput-leftSection, .TextInput-rightSection {
  @apply flex items-center justify-center px-2;
  width: var(--text-input-size);
  min-width: var(--text-input-size);
}

.TextInput-leftSection+.TextInput-input {
  @apply pl-0;
}

.TextInput-input:has(+.TextInput-rightSection) {
  @apply pr-0;
}

.TextInput-focused> .TextInput-wrapper {
  @apply border-blue-700;
}

.TextInput-error> .TextInput-wrapper {
  @apply border-red-500 border bg-red-100;
}
